# FiveM Large Files

# Ignore large log files
logs/*.log
logs/**/*.log

# Ignore crash dumps
crashes/*.dmp
crashes/**/*.dmp

# Ignore cache files
cache/*.cache
cache/**/*.cache
cache/**

# Ignore database backups
db-backup/*.bak
db-backup/**/*.bak

# Ignore large resource files




permissions.cfg
private.cfg
*.bkp
