#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:50120"
endpoint_add_udp "0.0.0.0:50120"
sv_maxclients 8
exec private.cfg
sets tags "polygon, roleplay, rolenspel, nederlands, np-base, np, nederlands, economy, streng, whitelisted, intake"

## You MAY edit the following:
sets banner_detail "https://cdn.discordapp.com/attachments/696771354434863164/1105106416211087441/banner.jpg"
sets banner_connecting "https://cdn.discordapp.com/attachments/696771354434863164/1105106416211087441/banner.jpg"
sv_hostname "Polygon - where roleplay just started"
sets sv_projectName "Polygon"
sets sv_projectDesc "where roleplay just started"
sets locale "nl-NL"
load_server_icon myLogo.png
set sv_pureLevel 1
set sv_authMaxVariance 1
set sv_enforceGameBuild 2802


set sv_endpointPrivacy true
# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "nl"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure poly-core
ensure [poly]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]

## Permissions ##
exec permissions.cfg